# Python
__pycache__/
.trae/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
ENV/
env/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 配置文件 - 敏感信息
.env
.env.local

*.log

# 临时文件
temp/
tmp/
*.tmp

# OS
.DS_Store
Thumbs.db
.projects/CVE-2025-46725/
.projects/CVE-2025-47789/
.projects/CVE-2025-48683/
.projects/CVE-2025-54381/
.projects/CVE-2021-21985/
.projects/CVE-2021-21985/
projects/CVE-2021-21985/
projects/CVE-2024-7099/
projects/CVE-2025-54802/
projects/CVE-2022-22817/
projects/CVE-2024-10940/
projects/CVE-2025-47789/
projects/CVE-2025-46725/
projects/CVE-2024-8412/
projects/CVE*
*.zip
projects/*.zip
projects/C_QL